<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
           Eldor Togaymurotov Copyright © {{getCurrentYear}}
            <a class="grey-text text-lighten-4 right" href="https://twitter.com/eldor2887"><i class="small fa fa-twitter"></i></a>
            <a class="grey-text text-lighten-4 right" href="https://www.instagram.com/eldorabdimuminovich/?hl=en"><i class="small fa fa-instagram"></i></a>
            <a class="grey-text text-lighten-4 right" href="https://www.facebook.com/eldor.togaymurotov"><i class="small fa fa-facebook-official"></i></a>
        </div>
    </div>
</footer>